# Copyright (c) 2016-present Sven Greb <development@svengreb.de>
# This source code is licensed under the MIT license found in the license file.

# Configurations for EditorConfig.
# See https://docs.npmjs.com/cli/v9/using-npm/developers#keeping-files-out-of-your-package for more details.

.github/**
.husky/**
assets/**
.editorconfig
.gitattribute
.gitignore
.mailmap
.npmrc
.prettierignore
.remarkignore
.remarkrc.js
.stylelintrc.js
.travis.yml
circle.yml
lint-staged.config.js
package-lock.json
prettier.config.js
